<section class="section">
  <div class="container advice-container">
    <div class="advice-image"></div>
    <div class="advice-content-wrapper">
      <div class="advice-icon-wrapper">
        <svg class="advice-icon" width="20" height="20">
          <use href="./img/sprite.svg#icon-fluent-black"></use>
        </svg>
      </div>
      <div class="advice-textcontent">
        <h3 class="advice-title">110 min</h3>
        <p class="advice-subtitle">Daily norm of sports</p>
        <p class="advice-text-subtitle">
          The World Health Organization recommends at least 150 minutes of
          moderate-intensity aerobic physical activity throughout the week for
          adults aged 18-64. However, what happens if we adjust that number to
          110 minutes every day?
        </p>
      </div>
    </div>
  </div>
</section>
