<section class="section">
  <div class="container">
    <div class="exercises-content">
      <h2 class="exercises-section-title">Exercises</h2>
      <!-- Button of Exercises section -->
      <div class="exercises-type-nav">
        <ul class="exercises-type-list">
          <li class="exercises-type-item">
            <button type="button" class="exercises-type-item-btn" data-muscles>
              Muscles
            </button>
          </li>
          <li class="exercises-type-item">
            <button type="button" class="exercises-type-item-btn" data-bodypart>
              Body parts
            </button>
          </li>
          <li class="exercises-type-item">
            <button
              type="button"
              class="exercises-type-item-btn"
              data-equipment
            >
              Equipment
            </button>
          </li>
          <!-- <li class="exercises-type-item">
              <button type="button" class="exercises-type-item-btn" id="exercises-btn">Equipment</button>
            </li> -->
        </ul>
        <!-- Searching form in gallery -->
        <form class="exercises-type-form">
          <label class="exercises-form-label">
            <input
              class="exercises-form-input"
              type="search"
              pattern="/^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}$/"
              name="exercises-search-form-input"
              placeholder="Searching..."
            />
          </label>
          <button class="exercises-form-btn" type="submit">
            <svg class="exercises-form-btn-icon" width="18" height="18">
              <use href="../img/sprite.svg#icon-search"></usehref>
            </svg>
          </button>
        </form>
      </div>
      <!-- Exercises type gallery  -->
      <ul class="exercises-gallery-list">
        <li class="exercises-gallery-item">
          <a href="" class="exercises-gallery-link">
            <!-- <div class="exercises-gallery-item-area">
              <img
                src="../img/fquote/5-favorite-110-mob.png"
                width="313"
                height="250"
                alt="item"
              />
              <div class="exercises-gallery-item-title"> -->
            <h3 class="exercises-gallery-item-title">Abductors</h3>
            <p class="exercises-gallery-item-description">Muscles</p>
            <!-- </div>
            </div> -->
          </a>
        </li>
        <li class="exercises-gallery-item">
          <a href="" class="exercises-gallery-link">
            <h3 class="exercises-gallery-item-title">Abductors</h3>
            <p class="exercises-gallery-item-description">Muscles</p>
          </a>
        </li>
        <!-- <li class="exercises-gallery-item">
          <a href="" class="exercises-gallery-link">
            <div class="exercises-gallery-item-area">
              <img
                src="../img/fquote/5-favorite-110-mob.png"
                width="313"
                height="250"
                alt="item"
              />
              <div class="exercises-gallery-item-title">
                <h2 class="">Abductors</h2>
                <p class="exercises-gallery-item-description">Muscles</p>
              </div>
            </div>
          </a>
        </li> -->
      </ul>
      <!-- Exercises paged gallery -->
      <ul class="pagination-list"></ul>
    </div>
  </div>
</section>
