<section class="section">
  <div class="container"></div>

  <section class="section">
    <div class="container">
  
    <div class="exercises-content">
      <h1 class="exercises-section-title">Exercises</h1>
        <!-- Button of Exercises section -->
        <div class="exercises-type-nav">
          <ul class="exercises-type-list">
            <li class="exercises-type-item">
              <button type="button" class="exercises-type-item-btn" id="exercises-btn">Muscles</button>
            </li>
            <li class="exercises-type-item">
              <button type="button" class="exercises-type-item-btn" id="exercises-btn">Body parts</button>
            </li>
            <li class="exercises-type-item">
              <button type="button" class="exercises-type-item-btn" id="exercises-btn">Equipment</button>
            </li>
            <!-- <li class="exercises-type-item">
              <button type="button" class="exercises-type-item-btn" id="exercises-btn">Equipment</button>
            </li> -->
          </ul>
          <!-- Searching form in gallery -->
          <form class="exercises-type-form ">
            <label class="exercises-form-label">
              <input
                class="exercises-form-input"
                type="search"
                pattern="/^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}$/"
                id="exercises-search-form-input"
                name="exercises-search-form-input"
                placeholder="Searching..."
              />
            </label>  
            <button class="exercises-form-btn" type="submit">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="search">
                <path id="Vector" d="M8.25 14.25C11.5637 14.25 14.25 11.5637 14.25 8.25C14.25 4.93629 11.5637 2.25 8.25 2.25C4.93629 2.25 2.25 4.93629 2.25 8.25C2.25 11.5637 4.93629 14.25 8.25 14.25Z" stroke="#1B1B1B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path id="Vector_2" d="M15.7498 15.75L12.4873 12.4875" stroke="#1B1B1B" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                </svg>
            </button>
          </form>
        </div>
      <!-- Exercises type gallery  -->
      <ul class="exercises-gallery-list">
        <li class="exercises-gallery-item">
          <a href="" class="exercises-gallery-link">
            <div class="exercises-gallery-item-area">
                <img src="../img/fquote/5-favorite-110-mob.png" width="313" height="250" alt="item" />
              <div class="exercises-gallery-item-title">
                <h2 class="">Abductors</h2>
                <p class="exercises-gallery-item-description">Muscles</p>
              </div>
            </div>
          </a>
        </li>
        <li class="exercises-gallery-item">
          <a href="" class="exercises-gallery-link">
            <div class="exercises-gallery-item-area">
                <img src="../img/fquote/5-favorite-110-mob.png" width="313" height="250" alt="item" />
              <div class="exercises-gallery-item-title">
                <h2 class="">Abductors</h2>
                <p class="exercises-gallery-item-description">Muscles</p>
              </div>
            </div>
          </a>
        </li>
        <li class="exercises-gallery-item">
          <a href="" class="exercises-gallery-link">
            <div class="exercises-gallery-item-area">
                <img src="../img/fquote/5-favorite-110-mob.png" width="313" height="250" alt="item" />
              <div class="exercises-gallery-item-title">
                <h2 class="">Abductors</h2>
                <p class="exercises-gallery-item-description">Muscles</p>
              </div>
            </div>
          </a>
        </li>
        <li class="exercises-gallery-item">
          <a href="" class="exercises-gallery-link">
            <div class="exercises-gallery-item-area">
                <img src="../img/fquote/5-favorite-110-mob.png" width="313" height="250" alt="item" />
              <div class="exercises-gallery-item-title">
                <h2 class="">Abductors</h2>
                <p class="exercises-gallery-item-description">Muscles</p>
              </div>
            </div>
          </a>
        </li>
        <li class="exercises-gallery-item">
          <a href="" class="exercises-gallery-link">
            <div class="exercises-gallery-item-area">
                <img src="../img/fquote/5-favorite-110-mob.png" width="313" height="250" alt="item" />
              <div class="exercises-gallery-item-title">
                <h2 class="">Abductors</h2>
                <p class="exercises-gallery-item-description">Muscles</p>
              </div>
            </div>
          </a>
        </li>
        <li class="exercises-gallery-item">
          <a href="" class="exercises-gallery-link">
            <div class="exercises-gallery-item-area">
                <img src="../img/fquote/5-favorite-110-mob.png" width="313" height="250" alt="item" />
              <div class="exercises-gallery-item-title">
                <h2 class="">Abductors</h2>
                <p class="exercises-gallery-item-description">Muscles</p>
              </div>
            </div>
          </a>
        </li>
        <li class="exercises-gallery-item">
          <a href="" class="exercises-gallery-link">
            <div class="exercises-gallery-item-area">
                <img src="../img/fquote/5-favorite-110-mob.png" width="313" height="250" alt="item" />
              <div class="exercises-gallery-item-title">
                <h2 class="">Abductors</h2>
                <p class="exercises-gallery-item-description">Muscles</p>
              </div>
            </div>
          </a>
        </li>
        <li class="exercises-gallery-item">
          <a href="" class="exercises-gallery-link">
            <div class="exercises-gallery-item-area">
                <img src="../img/fquote/5-favorite-110-mob.png" width="313" height="250" alt="item" />
              <div class="exercises-gallery-item-title">
                <h2 class="">Abductors</h2>
                <p class="exercises-gallery-item-description">Muscles</p>
              </div>
            </div>
          </a>
        </li>
      </ul>
  <!-- Exercises paged gallery -->
      <ul class="exercises-gallery-pages-list">
        <li class="exercises-gallery-pages-item">
          <a href="" class="exercises-gallery-pages-link">1</a>
        </li>
        <li class="exercises-gallery-pages-item">
          <a href="" class="exercises-gallery-pages-link">2</a>
        </li>
      </ul>
    </div>
    </div>
  </section>
  <script type="module" src="./js/excercises.js"></script>

</section>
