<section class="section">
  <div class="container">
    <div class="favorites-container">
      <h2 class="favorites-section-name">Favorites</h2>
      <div class="favorites-content">
        <ul class="favorites-exercises-list">
          <li class="exercise-card-item">
            <div class="exercise-card-actions">
              <div class="exercise-card-workout-container">
                <p class="exercise-card-workout-text">Workout</p>
                <button type="button" class="exercise-card-remove-btn">
                  <svg class="exercise-card-remove-icon">
                    <use href="./img/sprite.svg#icon-trash-black"></use>
                  </svg>
                </button>
              </div>
              <button type="button" class="exercise-card-start-btn">
                <span class="exercise-card-start-btn-text">Start</span>
                <svg class="exercise-card-start-btn-icon">
                  <use href="./img/sprite.svg#icon-arrow-right"></use>
                </svg>
              </button>
            </div>
            <h3 class="exercise-card-header-container">
              <svg class="exercise-card-header-icon">
                <use href="./img/sprite.svg#icon-icon-run"></use>
              </svg>
              <span class="exercise-card-header-text"
                >Barbell side split squat v. 2</span
              >
            </h3>
            <ul class="exercises-card-info-list">
              <li class="exercise-card-info-parameter">
                <p class="exercise-card-parameter-name">Burned calories:</p>
                <p class="exercise-card-parameter-value">60 / 3 min</p>
              </li>
              <li class="exercise-card-info-parameter">
                <p class="exercise-card-parameter-name">Body part:</p>
                <p class="exercise-card-parameter-value">Waist</p>
              </li>
              <li class="exercise-card-info-parameter">
                <p class="exercise-card-parameter-name">Target:</p>
                <p class="exercise-card-parameter-value">Quads</p>
              </li>
            </ul>
          </li>

          <li class="exercise-card-item">
            <div class="exercise-card-actions">
              <div class="exercise-card-workout-container">
                <p class="exercise-card-workout-text">Workout</p>
                <p class="exercise-card-rating">
                  <span class="exercise-card-rating-value">4.0</span>
                  <svg class="exercise-card-rating-star">
                    <use href="./img/sprite.svg#icon-Star-gold"></use>
                  </svg>
                </p>
              </div>
              <button type="button" class="exercise-card-start-btn">
                <p class="exercise-card-start-btn-text">Start</p>
                <svg class="exercise-card-start-btn-icon">
                  <use href="./img/sprite.svg#icon-arrow-right"></use>
                </svg>
              </button>
            </div>
            <h3 class="exercise-card-header-container">
              <svg class="exercise-card-header-icon">
                <use href="img/sprite.svg#icon-icon-run"></use>
              </svg>
              <span class="exercise-card-header-text"
                >Barbell side split squat v. 2</span
              >
            </h3>
            <ul class="exercises-card-info-list">
              <li class="exercise-card-info-parameter">
                <p class="exercise-card-parameter-name">Burned calories:</p>
                <p class="exercise-card-parameter-value">60 / 3 min</p>
              </li>
              <li class="exercise-card-info-parameter">
                <p class="exercise-card-parameter-name">Body part:</p>
                <p class="exercise-card-parameter-value">Waist</p>
              </li>
              <li class="exercise-card-info-parameter">
                <p class="exercise-card-parameter-name">Target:</p>
                <p class="exercise-card-parameter-value">Quads</p>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="pagination-list">
          <li class="pagination-item pagination-item-active">
            <a href="">1</a>
          </li>
          <li class="pagination-item"><a href="">2</a></li>
          <li class="pagination-item"><a href="">3</a></li>
        </ul>
        <p class="favorites-not-found-exercises">
          It appears that you haven't added any exercises to your favorites yet.
          To get started, you can add exercises that you like to your favorites
          for easier access in the future.
        </p>
      </div>
    </div>
  </div>
</section>
