<div class="container">
  <section class="section favorites-container">
    <h2 class="favorites-section-name">Favorites</h2>
    <div class="favorites-content">
      <ul class="favorites-exercises-list">
        <li class="favorites-exersise-item">
          <div class="facorites-card-header">
            <div class="workout-container">
              <p class="workout-button">Workout</p>
              <a class="remove-exersise" href="">
                <svg class="remove-exersise-icon">
                  <use href="./sprite.svg#icon-trash-black"></use>
                </svg>
              </a>
            </div>
            <button type="button" class="start-container">
              <p class="start-action">Start</p>
              <svg class="start-arrow-icon">
                <use href="./sprite.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
          <div class="exercise-name-container">
            <svg class="exercise-name-icon">
              <use href="./sprite.svg#icon-icon-run"></use>
            </svg>
            <p class="exercise-name-text">Barbell side split squat v. 2</p>
          </div>
          <div class="exercises-info-container">
            <div class="exercise-parameter-container">
              <p class="exercise-parameter">Burned calories:</p>
              <p class="exercise-parameter-value">60 / 3 min</p>
            </div>
            <div class="exercise-parameter-container">
              <p class="exercise-parameter">Body part:</p>
              <p class="exercise-parameter-value">Waist</p>
            </div>
            <div class="exercise-parameter-container">
              <p class="exercise-parameter">Target:</p>
              <p class="exercise-parameter-value">Quads</p>
            </div>
          </div>
        </li>

        <li class="favorites-exersise-item">
          <div class="facorites-card-header">
            <div class="workout-container">
              <p class="workout-button">Workout</p>
              <a class="remove-exersise" href="">
                <svg class="remove-exersise-icon">
                  <use href="./sprite.svg#icon-trash-black"></use>
                </svg>
              </a>
            </div>
            <button type="button" class="start-container">
              <p class="start-action">Start</p>
              <svg class="start-arrow-icon">
                <use href="./sprite.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
          <div class="exercise-name-container">
            <svg class="exercise-name-icon">
              <use href="./sprite.svg#icon-icon-run"></use>
            </svg>
            <p class="exercise-name-text">Barbell side split squat v. 2</p>
          </div>
          <div class="exercises-info-container">
            <div class="exercise-parameter-container">
              <p class="exercise-parameter">Burned calories:</p>
              <p class="exercise-parameter-value">60 / 3 min</p>
            </div>
            <div class="exercise-parameter-container">
              <p class="exercise-parameter">Body part:</p>
              <p class="exercise-parameter-value">Waist</p>
            </div>
            <div class="exercise-parameter-container">
              <p class="exercise-parameter">Target:</p>
              <p class="exercise-parameter-value">Quads</p>
            </div>
          </div>
        </li>

        <li class="favorites-exersise-item">
          <div class="facorites-card-header">
            <div class="workout-container">
              <p class="workout-button">Workout</p>
              <a class="remove-exersise" href="">
                <svg class="remove-exersise-icon">
                  <use href="./sprite.svg#icon-trash-black"></use>
                </svg>
              </a>
            </div>
            <button type="button" class="start-container">
              <p class="start-action">Start</p>
              <svg class="start-arrow-icon">
                <use href="./sprite.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
          <div class="exercise-name-container">
            <svg class="exercise-name-icon">
              <use href="./sprite.svg#icon-icon-run"></use>
            </svg>
            <p class="exercise-name-text">Barbell side split squat v. 2</p>
          </div>
          <div class="exercises-info-container">
            <div class="exercise-parameter-container">
              <p class="exercise-parameter">Burned calories:</p>
              <p class="exercise-parameter-value">60 / 3 min</p>
            </div>
            <div class="exercise-parameter-container">
              <p class="exercise-parameter">Body part:</p>
              <p class="exercise-parameter-value">Waist</p>
            </div>
            <div class="exercise-parameter-container">
              <p class="exercise-parameter">Target:</p>
              <p class="exercise-parameter-value">Quads</p>
            </div>
          </div>
        </li>

        <li class="favorites-exersise-item">
          <div class="facorites-card-header">
            <div class="workout-container">
              <p class="workout-button">Workout</p>
              <a class="remove-exersise" href="">
                <svg class="remove-exersise-icon">
                  <use href="./sprite.svg#icon-trash-black"></use>
                </svg>
              </a>
            </div>
            <button type="button" class="start-container">
              <p class="start-action">Start</p>
              <svg class="start-arrow-icon">
                <use href="./sprite.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
          <div class="exercise-name-container">
            <svg class="exercise-name-icon">
              <use href="./sprite.svg#icon-icon-run"></use>
            </svg>
            <p class="exercise-name-text">Barbell side split squat v. 2</p>
          </div>
          <div class="exercises-info-container">
            <div class="exercise-parameter-container">
              <p class="exercise-parameter">Burned calories:</p>
              <p class="exercise-parameter-value">60 / 3 min</p>
            </div>
            <div class="exercise-parameter-container">
              <p class="exercise-parameter">Body part:</p>
              <p class="exercise-parameter-value">Waist</p>
            </div>
            <div class="exercise-parameter-container">
              <p class="exercise-parameter">Target:</p>
              <p class="exercise-parameter-value">Quads</p>
            </div>
          </div>
        </li>

        <li class="favorites-exersise-item">
          <div class="facorites-card-header">
            <div class="workout-container">
              <p class="workout-button">Workout</p>
              <a class="remove-exersise" href="">
                <svg class="remove-exersise-icon">
                  <use href="./sprite.svg#icon-trash-black"></use>
                </svg>
              </a>
            </div>
            <button type="button" class="start-container">
              <p class="start-action">Start</p>
              <svg class="start-arrow-icon">
                <use href="./sprite.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
          <div class="exercise-name-container">
            <svg class="exercise-name-icon">
              <use href="./sprite.svg#icon-icon-run"></use>
            </svg>
            <p class="exercise-name-text">Barbell side split squat v. 2</p>
          </div>
          <div class="exercises-info-container">
            <div class="exercise-parameter-container">
              <p class="exercise-parameter">Burned calories:</p>
              <p class="exercise-parameter-value">60 / 3 min</p>
            </div>
            <div class="exercise-parameter-container">
              <p class="exercise-parameter">Body part:</p>
              <p class="exercise-parameter-value">Waist</p>
            </div>
            <div class="exercise-parameter-container">
              <p class="exercise-parameter">Target:</p>
              <p class="exercise-parameter-value">Quads</p>
            </div>
          </div>
        </li>

        <li class="favorites-exersise-item">
          <div class="facorites-card-header">
            <div class="workout-container">
              <p class="workout-button">Workout</p>
              <a class="remove-exersise" href="">
                <svg class="remove-exersise-icon">
                  <use href="./sprite.svg#icon-trash-black"></use>
                </svg>
              </a>
            </div>
            <button type="button" class="start-container">
              <p class="start-action">Start</p>
              <svg class="start-arrow-icon">
                <use href="./sprite.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
          <div class="exercise-name-container">
            <svg class="exercise-name-icon">
              <use href="./sprite.svg#icon-icon-run"></use>
            </svg>
            <p class="exercise-name-text">Barbell side split squat v. 2</p>
          </div>
          <div class="exercises-info-container">
            <div class="exercise-parameter-container">
              <p class="exercise-parameter">Burned calories:</p>
              <p class="exercise-parameter-value">60 / 3 min</p>
            </div>
            <div class="exercise-parameter-container">
              <p class="exercise-parameter">Body part:</p>
              <p class="exercise-parameter-value">Waist</p>
            </div>
            <div class="exercise-parameter-container">
              <p class="exercise-parameter">Target:</p>
              <p class="exercise-parameter-value">Quads</p>
            </div>
          </div>
        </li>

        <li class="favorites-exersise-item">
          <div class="facorites-card-header">
            <div class="workout-container">
              <p class="workout-button">Workout</p>
              <a class="remove-exersise" href="">
                <svg class="remove-exersise-icon">
                  <use href="./sprite.svg#icon-trash-black"></use>
                </svg>
              </a>
            </div>
            <button type="button" class="start-container">
              <p class="start-action">Start</p>
              <svg class="start-arrow-icon">
                <use href="./sprite.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
          <div class="exercise-name-container">
            <svg class="exercise-name-icon">
              <use href="./sprite.svg#icon-icon-run"></use>
            </svg>
            <p class="exercise-name-text">Barbell side split squat v. 2</p>
          </div>
          <div class="exercises-info-container">
            <div class="exercise-parameter-container">
              <p class="exercise-parameter">Burned calories:</p>
              <p class="exercise-parameter-value">60 / 3 min</p>
            </div>
            <div class="exercise-parameter-container">
              <p class="exercise-parameter">Body part:</p>
              <p class="exercise-parameter-value">Waist</p>
            </div>
            <div class="exercise-parameter-container">
              <p class="exercise-parameter">Target:</p>
              <p class="exercise-parameter-value">Quads</p>
            </div>
          </div>
        </li>

        <li class="favorites-exersise-item">
          <div class="facorites-card-header">
            <div class="workout-container">
              <p class="workout-button">Workout</p>
              <a class="remove-exersise" href="">
                <svg class="remove-exersise-icon">
                  <use href="./sprite.svg#icon-trash-black"></use>
                </svg>
              </a>
            </div>
            <button type="button" class="start-container">
              <p class="start-action">Start</p>
              <svg class="start-arrow-icon">
                <use href="./sprite.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
          <div class="exercise-name-container">
            <svg class="exercise-name-icon">
              <use href="./sprite.svg#icon-icon-run"></use>
            </svg>
            <p class="exercise-name-text">Barbell side split squat v. 2</p>
          </div>
          <div class="exercises-info-container">
            <div class="exercise-parameter-container">
              <p class="exercise-parameter">Burned calories:</p>
              <p class="exercise-parameter-value">60 / 3 min</p>
            </div>
            <div class="exercise-parameter-container">
              <p class="exercise-parameter">Body part:</p>
              <p class="exercise-parameter-value">Waist</p>
            </div>
            <div class="exercise-parameter-container">
              <p class="exercise-parameter">Target:</p>
              <p class="exercise-parameter-value">Quads</p>
            </div>
          </div>
        </li>

        <li class="favorites-exersise-item">
          <div class="facorites-card-header">
            <div class="workout-container">
              <p class="workout-button">Workout</p>
              <a class="remove-exersise" href="">
                <svg class="remove-exersise-icon">
                  <use href="./sprite.svg#icon-trash-black"></use>
                </svg>
              </a>
            </div>
            <button type="button" class="start-container">
              <p class="start-action">Start</p>
              <svg class="start-arrow-icon">
                <use href="./sprite.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
          <div class="exercise-name-container">
            <svg class="exercise-name-icon">
              <use href="./sprite.svg#icon-icon-run"></use>
            </svg>
            <p class="exercise-name-text">Barbell side split squat v. 2</p>
          </div>
          <div class="exercises-info-container">
            <div class="exercise-parameter-container">
              <p class="exercise-parameter">Burned calories:</p>
              <p class="exercise-parameter-value">60 / 3 min</p>
            </div>
            <div class="exercise-parameter-container">
              <p class="exercise-parameter">Body part:</p>
              <p class="exercise-parameter-value">Waist</p>
            </div>
            <div class="exercise-parameter-container">
              <p class="exercise-parameter">Target:</p>
              <p class="exercise-parameter-value">Quads</p>
            </div>
          </div>
        </li>

        <li class="favorites-exersise-item">
          <div class="facorites-card-header">
            <div class="workout-container">
              <p class="workout-button">Workout</p>
              <a class="remove-exersise" href="">
                <svg class="remove-exersise-icon">
                  <use href="./sprite.svg#icon-trash-black"></use>
                </svg>
              </a>
            </div>
            <button type="button" class="start-container">
              <p class="start-action">Start</p>
              <svg class="start-arrow-icon">
                <use href="./sprite.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
          <div class="exercise-name-container">
            <svg class="exercise-name-icon">
              <use href="./sprite.svg#icon-icon-run"></use>
            </svg>
            <p class="exercise-name-text">Barbell side split squat v. 2</p>
          </div>
          <div class="exercises-info-container">
            <div class="exercise-parameter-container">
              <p class="exercise-parameter">Burned calories:</p>
              <p class="exercise-parameter-value">60 / 3 min</p>
            </div>
            <div class="exercise-parameter-container">
              <p class="exercise-parameter">Body part:</p>
              <p class="exercise-parameter-value">Waist</p>
            </div>
            <div class="exercise-parameter-container">
              <p class="exercise-parameter">Target:</p>
              <p class="exercise-parameter-value">Quads</p>
            </div>
          </div>
        </li>
      </ul>

      <ul class="pagination-list">
        <li class="pagination-item pagination-item-active">1</li>
        <li class="pagination-item">2</li>
        <li class="pagination-item">3</li>
      </ul>
    </div>
  </section>
</div>
