<footer class="section">
  <div class="container">
    <div class="footer-container">
      <div class="footer-main-content-wrapper">
        <div class="footer-link-container">
          <a class="footer-logo" href="index.html">energy.flow</a>
          <ul class="footer-social-media-list">
            <li class="footer-social-media-item">
              <a
                href="https://www.facebook.com/goITclub/"
                class="footer-social-media-link"
                rel="nofollow"
                target="_blank"
              >
                <svg
                  class="footer-social-media-icon"
                  aria-label="icon facebook"
                >
                  <use href="/img/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social-media-item">
              <a
                href="https://www.instagram.com/goitclub/"
                class="footer-social-media-link"
                rel="nofollow"
                target="_blank"
              >
                <svg
                  class="footer-social-media-icon"
                  aria-label="icon instagram"
                >
                  <use href="/img/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="footer-social-media-item">
              <a
                href="https://www.youtube.com/c/GoIT"
                class="footer-social-media-link"
                rel="nofollow"
                target="_blank"
              >
                <svg class="footer-social-media-icon" aria-label="icon youtube">
                  <use href="/img/sprite.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
        <p class="footer-title">Transforming your <i>body</i> shape with us</p>
        <form class="footer-subscription-form">
          <p class="footer-form-text">
            Subscribe and learn about new exercises!
          </p>
          <label class="footer-form-label">
            <input
              class="footer-form-input is-glowing"
              id="footer-subscription-form-input"
              type="email"
              name="email"
              placeholder="Email"
              pattern="/^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}$/"
              required
            />
          </label>
          <button class="footer-form-submit" type="submit">Send</button>
        </form>
      </div>

      <div class="footer-rights-documents-wrapper">
        <p class="footer-rights-documents-text">
          Energy Flow. All rights reserved.
        </p>
        <div class="footer-rights-document">
          <a href="" class="footer-rights-document-link">Privacy Policy</a>
          <span>/</span>
          <a href="" class="footer-rights-document-link">Terms of Service</a>
        </div>
      </div>
    </div>
  </div>
</footer>
