<section class="section fquote-section">
  <div class="container fquote-container">
    <!-- контейнер с цитатой дня -->
    <div class="fquote-day">
      <!-- тут скрытый заголовок -->
      <h2 class="visually-hidden">Quote Day</h2>
      <div class="fquote-title-icon">
        <svg class="icon-run" width="34" height="32">
          <use href="./img/sprite.svg#icon-icon-run"></use>
        </svg>
        <!-- title название для пишки -->
        <p class="fquote-title">Quote of the day</p>
        <svg class="icon-commas">
          <use href="../img/sprite.svg#icon-inverted-commas"></use>
        </svg>
      </div>
      <p class="fquote-text">
        A lot of times I find that people who are blessed with the most talent
        don't ever develop that attitude, and the ones who aren't blessed in
        that way are the most competitive and have the biggest heart.
      </p>
      <p class="fquote-author">Арестотель</p>
    </div>
  </div>
</section>
