<header class="header">
  <div class="container header-container">
    <a class="header-logo" href="./index.html">energy.flow</a>
    <nav class="header-navigation">
      <ul class="header-nav-list">
        <li><a class="header-home" href="./index.html">Home</a></li>
        <li><a class="header-favorites " href="./favorites.html">Favorites</a></li>
      </ul>
    </nav>

    <button class="header-button-nav" type="button">
      <svg class="header-nav-menu-svg" width="32" height="16">
        <use href="./img/sprite.svg#icon-burger"></use>
      </svg>
    </button>

    <ul class="header-media-list">
      <li class="header-svg-item">
        <a class="header-link-social-svg" href="https://www.facebook.com/goITclub/" rel="nofollow" target="_blank">
          <svg class="header-media-icon-svg" width="28" height="28">
            <use href="./img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="header-svg-item">
        <a class="header-link-social-svg" href="https://www.instagram.com/goitclub/" rel="nofollow" target="_blank">
          <svg class="header-media-icon-svg" width="28" height="28">
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="header-svg-item">
        <a class="header-link-social-svg" href="https://www.youtube.com/c/GoIT" rel="nofollow" target="_blank">
          <svg class="header-media-icon-svg" width="28" height="28">
            <use href="./img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</header>