<header class="header">
  <div class="container header-container">

    <p class="logo">energy.flow</p>
    <nav class="navigation">
      <ul>
        <li><a class="home" href="./index.html">Home</a></li>
        <li><a class="favorites" href="./favorites.html">Favorites</a></li>
      </ul>
    </nav>


    <button class="button-nav" type="button">
      <svg class="nav-menu-svg" width="24" height="24">
        <use href="./img/sprite.svg#icon-burger"></use>
      </svg>
    </button>
    <div>
      <ul>
        <li class="svg-item">
          <a class="link-social-svg">
            <svg class="media-icon-svg" width="24" height="24">
              <use href="./img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="svg-item">
          <a class="link-social-svg">
            <svg class="media-icon-svg" width="24" height="24">
              <use href="./img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="svg-item">
          <a class="link-social-svg">
            <svg class="media-icon-svg" width="24" height="24">
              <use href="./img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>


  </div>
</header>