<div class="modal-exercise"></div>

<!-- <div class="modal-exercise">
    <button class="modal-exercise-close" type="button">
      <svg class="modal-exercise-icon-x-black" width="24" height="24" aria-label="icon-x-black">
        <use href="./img/sprite.svg#icon-x-black"></use>
      </svg>
    </button> -->
<!-- Image -->
<!-- <div class="modal-exercise-image"></div> -->

<!-- Description -->
<!-- <div class="modal-exercise-description">
    <div class="modal-exercise-title-rating-box">
      <h3 class="modal-exercise-title">Air bake</h3> -->
<!-- Rating -->
<!-- <div class="mod-exercise-rating">
        <div class="mod-exercise-rating-value">4.0</div>
        <div class="mod-exercise-rating-body">
            
            <ul class="mod-exercise-rating-list">
                <li class="modal-exercise-rating-item"><svg class="modal-exercise-icon-star" width="16" height="16" aria-label="star">
                        <use href="./img/sprite.svg#icon-Star-grey"></use>
                    </svg></li>
                    <li class="modal-exercise-rating-item"><svg class="modal-exercise-icon-star" width="16" height="16" aria-label="star">
                        <use href="./img/sprite.svg#icon-Star-grey"></use>
                    </svg></li>
                    <li class="modal-exercise-rating-item"><svg class="modal-exercise-icon-star" width="16" height="16" aria-label="star">
                        <use href="./img/sprite.svg#icon-Star-grey"></use>
                    </svg></li>
                    <li class="modal-exercise-rating-item"><svg class="modal-exercise-icon-star" width="16" height="16" aria-label="star">
                        <use href="./img/sprite.svg#icon-Star-grey"></use>
                    </svg></li>
                    <li class="modal-exercise-rating-item"><svg class="modal-exercise-icon-star" width="16" height="16" aria-label="star">
                        <use href="./img/sprite.svg#icon-Star-grey"></use>
                    </svg></li>
            </ul>

            <div class="mod-exercise-rating-active">

                <ul class="mod-exercise-rating-list-active">
                    <li class="modal-exercise-rating-item-active"><svg class="modal-exercise-icon-star-active" width="16" height="16" aria-label="star">
                    <use href="./img/sprite.svg#icon-Star-grey"></use>
                    </svg></li>
                    <li class="modal-exercise-rating-item-active"><svg class="modal-exercise-icon-star-active" width="16" height="16" aria-label="star">
                        <use href="./img/sprite.svg#icon-Star-grey"></use>
                    </svg></li>
                    <li class="modal-exercise-rating-item-active"><svg class="modal-exercise-icon-star-active" width="16" height="16" aria-label="star">
                    <use href="./img/sprite.svg#icon-Star-grey"></use>
                    </svg></li>
                    <li class="modal-exercise-rating-item-active"><svg class="modal-exercise-icon-sta-active" width="16" height="16" aria-label="star">
                    <use href="./img/sprite.svg#icon-Star-grey"></use>
                    </svg></li>
                    <li class="modal-exercise-rating-item-active"><svg class="modal-exercise-icon-star-active" width="16" height="16" aria-label="star">
                    <use href="./img/sprite.svg#icon-Star-grey"></use>
                    </svg></li>
                </ul>
            </div>
            <div class="mod-exercise-rating-items">
                <input type="radio" class="mod-exercise-rating-item" value="1" name="rating">
                <input type="radio" class="mod-exercise-rating-item" value="2" name="rating">
                <input type="radio" class="mod-exercise-rating-item" value="3" name="rating">
                <input type="radio" class="mod-exercise-rating-item" value="4" name="rating">
                <input type="radio" class="mod-exercise-rating-item" value="5" name="rating">
            </div>
        </div>
      </div> -->
<!-- Categories container -->
<!-- </div>
    <div class="modal-exercise-categories-box">
      <ul class="modal-exercise-list">
        <li class="modal-exercise-item">
          <p class="modal-exercise-subcategory">Target</p>
          <p class="modal-exercise-selected">Abs</p>
        </li>
        <li class="modal-exercise-item">
          <p class="modal-exercise-subcategory">Body Part</p>
          <p class="modal-exercise-selected">Waist</p>
        </li>
        <li class="modal-exercise-item">
          <p class="modal-exercise-subcategory">Equipment</p>
          <p class="modal-exercise-selected">Body weight</p>
        </li>
        <li class="modal-exercise-item">
          <p class="modal-exercise-subcategory">Popular</p>
          <p class="modal-exercise-selected">150</p>
        </li>
        <li class="modal-exercise-item">
          <p class="modal-exercise-subcategory">Burned Calories</p>
          <p class="modal-exercise-selected">323/3 min</p>
        </li>
      </ul>
    </div>
    <div class="modal-exercise-instruction-box">
      <p class="modal-exercise-instruction-text">
        This refers to your core muscles, which include the rectus abdominis,
        obliques, and transverse abdominis. They're essential for maintaining
        posture, stability, and generating force in many movements. Exercises
        that target the abs include crunches, leg raises, and planks.
      </p>
    </div> -->
<!-- Button container -->
<!-- <div class="modal-exercise-btn-box">
      <button class="modal-exercise-btn-add" type="button">
        Add to favorites
          <svg class="modal-exercise-icon-heart" width="20" height="20" aria-label="heart">
            <use href="./img/sprite.svg#icon-heart"></use>
          </svg>
      </button>
      <button class="modal-exercise-btn-remove btn-hidden" type="button">
          Remove from
          <svg class="modal-exercise-icon-heart" width="20" height="20" aria-label="heart">
            <use href="./img/sprite.svg#icon-heart"></use>
          </svg>
      </button>
      <button class="modal-exercise-btn-rating" type="button">
        Give a rating
      </button>
    </div>
  </div>
  </div>
</div> -->
