<div class="container mobile-menu ">
    <div class="">
        <button class="close-nav-button">

            <svg class="close-nav-svg" width="8" height="8">
                <use href="../img/sprite.svg#icon-x-black"></use>
            </svg>

        </button>
        <nav class="navigation">
            <ul>
                <li><a class="home" href="">Home</a></li>
                <li><a class="favorites" href="">Favorites</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <ul>
            <li class="svg-item">
                <a class="ink-social-svg">
                    <svg class="media-icon-svg" width="24" height="24">
                        <use href="./img/sprite.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="svg-item">
                <a class="ink-social-svg">
                    <svg class="media-icon-svg" width="24" height="24">
                        <use href="./img/sprite.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="svg-item">
                <a class="ink-social-svg">
                    <svg class="media-icon-svg" width="24" height="24">
                        <use href="./img/sprite.svg#icon-youtube"></use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</div>