<div class="modal-exercise" data-id="">
  <button class="modal-exercise-btn-close" type="button">
    <svg
      class="modal-exercise-icon-x-black"
      width="24"
      height="24"
      aria-label="icon-x-black"
      data-close="close-btn"
    >
      <use href="./img/sprite.svg#icon-x-black" data-close="close-btn"></use>
    </svg>
  </button>
  <!-- Image -->
  <div class="modal-exercise-image" id="img"></div>
  <!-- Description -->
  <div class="modal-exercise-description">
    <h3 class="modal-exercise-title"></h3>
    <!-- Rating -->
    <div class="mod-exercise-rating">
      <p class="mod-exercise-rating-value"></p>
      <div class="mod-exercise-rating-body">
        <ul class="mod-exercise-rating-list">
          <li class="modal-exercise-rating-item">
            <svg
              class="modal-exercise-icon-star"
              width="16"
              height="16"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="modal-exercise-rating-item">
            <svg
              class="modal-exercise-icon-star"
              width="16"
              height="16"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="modal-exercise-rating-item">
            <svg
              class="modal-exercise-icon-star"
              width="16"
              height="16"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="modal-exercise-rating-item">
            <svg
              class="modal-exercise-icon-star"
              width="16"
              height="16"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
          </li>
          <li class="modal-exercise-rating-item">
            <svg
              class="modal-exercise-icon-star"
              width="16"
              height="16"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star"></use>
            </svg>
          </li>
        </ul>

        <div class="mod-exercise-rating-active">
          <ul class="mod-exercise-rating-list-active">
            <li class="modal-exercise-rating-item-active">
              <svg
                class="modal-exercise-icon-star-active"
                width="16"
                height="16"
                aria-label="star"
              >
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="modal-exercise-rating-item-active">
              <svg
                class="modal-exercise-icon-star-active"
                width="16"
                height="16"
                aria-label="star"
              >
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="modal-exercise-rating-item-active">
              <svg
                class="modal-exercise-icon-star-active"
                width="16"
                height="16"
                aria-label="star"
              >
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="modal-exercise-rating-item-active">
              <svg
                class="modal-exercise-icon-sta-active"
                width="16"
                height="16"
                aria-label="star"
              >
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
            </li>
            <li class="modal-exercise-rating-item-active">
              <svg
                class="modal-exercise-icon-star-active"
                width="16"
                height="16"
                aria-label="star"
              >
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Categories && instruction -->
    <ul class="modal-exercise-list"></ul>
    <p class="modal-exercise-instruction-text"></p>
    <!-- Button container -->
    <div class="modal-exercise-btn-box">
      <button class="modal-exercise-btn" type="button">
        <span
          class="mod-exercise-span"
          data-add="Add to favorites"
          data-remove="Remove from"
        ></span>
        <svg
          class="modal-exercise-icon-heart"
          width="20"
          height="20"
          aria-label="heart"
        >
          <use href="./img/sprite.svg#icon-heart"></use>
        </svg>
      </button>
      <button class="modal-exercise-btn-rating" type="button" id="get-rating">
        Give a rating
      </button>
    </div>
  </div>
</div>
