<div class="mobile-menu">
  <div class="mobile-menu-container">
    <div class="mob-menu-header">
      <a class="mob-menu-logo" href="./index.html">energy.flow</a>
      <button class="mob-menu-close-nav-button">
        <svg class="mob-menu-close-nav-svg" width="20" height="20">
          <use href="./img/sprite.svg#icon-x-white"></use>
        </svg>
      </button>
    </div>

    <nav>
      <ul class="mob-menu-navigation">
        <li><a class="mob-menu-home active" href="./index.html">Home</a></li>
        <li>
          <a class="mob-menu-favorites" href="./favorites.html">Favorites</a>
        </li>
      </ul>
    </nav>

    <ul class="mob-menu-media-list">
      <li class="mob-menu-svg-item">
        <a
          class="mob-menu-link-social-svg"
          href="https://www.facebook.com/goITclub/"
          rel="nofollow"
          target="_blank"
        >
          <svg class="mob-menu-media-icon-svg" width="28" height="28">
            <use href="./img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="mob-menu-svg-item">
        <a
          class="mob-menu-link-social-svg"
          href="https://www.instagram.com/goitclub/"
          rel="nofollow"
          target="_blank"
        >
          <svg class="mob-menu-media-icon-svg" width="28" height="28">
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="mob-menu-svg-item">
        <a
          class="mob-menu-link-social-svg"
          href="https://www.youtube.com/c/GoIT"
          rel="nofollow"
          target="_blank"
        >
          <svg class="mob-menu-media-icon-svg" width="28" height="28">
            <use href="./img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
