<section class="section quote-section">
  <div class="container quote-container">
    <!-- контейнер с цитатой дня -->
    <div class="quote-day">
      <svg class="quote-icon-run" width="34" height="32">
        <use href="./img/sprite.svg#icon-icon-run"></use>
      </svg>
      <div class="quote-text-wrapper">
        <h2 class="quote-title">Quote of the day</h2>
        <p class="quote-text quote-animation">
          A lot of times I find that people who are blessed with the most talent
          don't ever develop that attitude, and the ones who aren't blessed in
          that way are the most competitive and have the biggest heart.
        </p>
        <p class="quote-author quote-animation">Арестотель</p>
        <svg class="quote-icon-commas">
          <use href="../img/sprite.svg#icon-inverted-commas"></use>
        </svg>
      </div>
    </div>
    <!-- контейнер с фоновым изображением -->
    <div class="quote-img"></div>
  </div>
</section>
