.advice-content-wrapper {
  background-color: #1b1b1b;
  border-radius: 30px;
  height: 269px;
  padding: 40px 20px;
  display: flex;
  gap: 18px;
}

.advice-icon-wrapper {
  background-color: rgba(246, 246, 246, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  flex: none;
  border-radius: 16px;
}

.advice-icon {
  fill: #f6f6f6;
}

.advice-title {
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 20px;
  font-weight: 500;
  line-height: 140%;
  color: rgba(246, 246, 246, 1);
  margin-bottom: 2px;
}
.advice-subtitle,
.advice-text-subtitle {
  font-size: 14px;
  line-height: 128.57%;
  color: rgba(246, 246, 246, 0.6);
  margin-bottom: 14px;
}

.advice-image {
  background-image: url(../img/advice/3-110-mob.webp);
  background-repeat: no-repeat;
  width: 100%;
  height: 269px;
  border-radius: 30px;
  background-size: cover;
}

@media (min-resolution: 192gpi),
  (min-resolution: 2dppx),
  (min-devise-pixel-ratio: 2) {
  .advice-image {
    background-image: url(../img/advice/3-110@2x-mob.webp);
  }
}

@media (min-width: 768px) {
  .advice-content-wrapper {
    padding: 64px 96px 64px 64px;
    display: flex;
    gap: 18px;
    border-radius: 50px;
    height: 302px;
  }

  .advice-title {
    font-size: 24px;
    line-height: 133.33%;
  }

  .advice-subtitle {
    font-size: 14px;
    line-height: 128.57%;
    margin-bottom: 25px;
  }

  .advice-text-subtitle {
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 0;
  }

  .advice-image {
    width: 100%;
    height: 302px;
    border-radius: 50px;
    background-image: url(../img/advice/3-110-tab.webp);
  }

  @media (min-resolution: 192gpi),
    (min-resolution: 2dppx),
    (min-devise-pixel-ratio: 2) {
    .advice-image {
      background-image: url(../img/advice/3-110@2x-tab.webp);
    }
  }
}

@media (min-width: 1440px) {
  .advice-image {
    background-image: url(../img/advice/3-110-desk.webp);
    min-width: 50%;
  }

  @media (min-resolution: 192gpi),
    (min-resolution: 2dppx),
    (min-devise-pixel-ratio: 2) {
    .advice-image {
      background-image: url(../img/advice/3-110@2x-desk.webp);
    }
  }

  .advice-container {
    display: flex;
  }

  .advice-content-wrapper {
    padding-right: 64px;
  }
}
