.exercise-card-item {
  width: 295px;
  min-height: 165px;
  padding: 16px;
  border-radius: 15px;
  background-color: #fff;
}

.exercise-card-item:hover {
  animation: scale-up-center 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.exercise-card-actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.exercise-card-start-btn-text {
  color: #1b1b1b;
  font-size: 14px;
  line-height: 1.3;
  transition: transform var(--duration) var(--time-function), color var(--duration) var(--time-function);
}

.exercise-card-start-btn-icon {
  width: 14px;
  height: 14px;
  stroke: #1b1b1b;
  transition: transform var(--duration) var(--time-function), stroke var(--duration) var(--time-function);
}

.exercise-card-start-btn-text:hover {
  color: #5f6560;
  transform: scale(1.15);
}

.exercise-card-start-btn-icon:hover {
  stroke: #5f6560;
  transform: scale(1.15);
}

.exercise-card-start-btn:focus .exercise-card-start-btn-icon{
  stroke: #5f6560;
  transform: scale(1.15);
}

.exercise-card-start-btn:focus .exercise-card-start-btn-text{
  color: #5f6560;
  transform: scale(1.15);
}

.exercise-card-remove-btn {
  padding: 0;
  border: none;
  background: none;
}

.exercise-card-remove-icon {
  width: 16px;
  height: 16px;
  stroke: #1b1b1b;
  fill: #fff;
  transition: transform var(--duration) var(--time-function), stroke var(--duration) var(--time-function);
}

.exercise-card-remove-btn:hover .exercise-card-remove-icon,
.exercise-card-remove-btn:focus .exercise-card-remove-icon {
  stroke: #5f6560;
  transform: scale(1.15);
}

.exercise-card-workout-container {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.exercise-card-workout-text {
  padding: 5px 8px;
  border-radius: 15px;
  background-color: #7e847f;
  color: #f6f6f6;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.exercise-card-start-btn {
  padding-right: 0px;
  display: flex;
  align-items: center;
  column-gap: 8px;
  background-color: #fff;
  border: none;
}

.exercise-card-header-container {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-top: 25px;
  margin-bottom: 16px;
}

.exercise-card-header-text {
  max-width: 218px;
  height: 20px;
  overflow: hidden;
  white-space: nowrap;
  color: #1b1b1b;
  text-overflow: ellipsis;
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
}

.exercises-card-info-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 6px;
}

.exercise-card-header-icon {
  /* width: 24px;
  height: 24px; */
  flex-shrink: 0;
  background-color: #7e847f;
  border-radius: 50%;
  fill: #f6f6f6;
}

.exercise-card-info-parameter {
  display: flex;
  column-gap: 4px;
}

.exercise-card-parameter-name {
  color: rgba(27, 27, 27, 0.4);
  font-size: 12px;
  line-height: 1.5;
}

.exercise-card-parameter-value {
  color: #1b1b1b;
  font-size: 12px;
  line-height: 1.5;
}

/*---------------------*/

/* .exercise-card-workout-container-star {
  display: flex;
  align-items: center;
  column-gap: 16px;
} */

.exercise-card-rating {
  margin-left: 8px;
  display: flex;
  column-gap: 2px;
  align-items: center;
}

.exercise-card-rating-value {
  color: #1b1b1b;
  font-size: 12px;
  line-height: 1.5;
  /* 150% */
}

.exercise-card-rating-star {
  width: 18px;
  height: 18px;
  fill: #eea10c;
}

@media (min-width: 768px) {
  .exercise-card-item {
    /* max-width: none; */
    /* width: calc((100% - 14px) / 2); */
    width: 313px;
    min-height: 141px;
    max-height: 165px;
  }

  .exercise-card-start-btn-text {
    font-size: 16px;
    line-height: 1.5;
  }

  .exercise-card-start-btn-icon {
    width: 16px;
    height: 16px;
    stroke: #1b1b1b;
  }

  .exercise-card-header-container {
    margin-bottom: 8px;
  }

  .exercise-card-header-text {
    max-width: 239px;
    height: 32px;
    font-size: 24px;
    line-height: 1.33;
  }
}

@media (min-width: 1440px) {
  .exercise-card-item {
    width: 424px;
    /* width: calc((100% - 40px) / 3); */
    min-height: 141px;
    max-height: 165px;
  }

  .exercise-card-header-text {
    max-width: 352px;
  }
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.97);
  }
  100% {
    transform: scale(1);
  }
}
