/* Скрыть кнопку очищения для элемента с классом .exercises-form-input */
.exercises-form-input::-webkit-search-clear-button,
.exercises-form-input::-webkit-search-cancel-button,
.exercises-form-input {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}

/* Скрыть кнопку очищения для элемента с классом .exercises-form-input в Firefox */
.exercises-form-input::-moz-search-clear-button,
.exercises-form-input::-moz-search-cancel-button,
.exercises-form-input {
  -moz-appearance: none;
  appearance: none;
  display: none;
}

/* Скрыть кнопку очищения для элемента с классом .exercises-form-input в Edge */
.exercises-form-input::-ms-clear,
.exercises-form-input::-ms-reveal,
.exercises-form-input {
  display: none;
}

/* ---MOBILE FIRST--- */

.exercises-content {
  background-color: #e8e8e8;
  border-radius: 50px;
  padding: 40px 20px;
  min-height: 760px;
}

.exercises-section-title {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 400;
  color: #1b1b1b;
  line-height: 1;
  letter-spacing: -0.02em;
}

.exercises-section-title-filter {
  margin-left: 8px;
  color: rgba(27, 27, 27, 0.5);
  font-size: 20px;
}

.exercises-empty-message {
  margin-top: 164px;
  color: #1b1b1b;
  text-align: center;
  font-size: 14px;
  line-height: 1.3;
  /* 128.571% */
  letter-spacing: -0.01em;
}

.exercises-empty-span {
  color: #7e847f;
  font-weight: 500;
}

.exercises-type-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 40px;
}

.exercises-type-list {
  display: flex;
  margin-bottom: 20px;
}

.exercises-type-item {
  margin-right: 6px;
  white-space: nowrap;
}

.exercises-type-item-btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  color: #1b1b1b;
  padding: 7px 14px;
  cursor: pointer;
  background-color: #f6f6f6;
  border-radius: 30px;
  border: transparent;
  transition: background var(--duration) var(--time-function), color var(--duration)
}

.exercises-type-item-btn:hover,
.exercises-type-item-btn:focus {
  background: #5f6560;
  color: #f6f6f6;
}

.exercises-type-item-active {
  background-color: #7e847f;
  color: #f6f6f6;
}

/* ---------------form----------------- */

.exercises-type-form {
  position: relative;
}

.exercises-form-input {
  display: block;
  border-radius: 30px;
  border: 1px solid #f6f6f6;
  background: #f6f6f6;
  padding-left: 14px;
  outline: none;
  color: #1b1b1b;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  height: 42px;
  width: 295px;
}

.exercises-form-btn-clear {
  stroke: #1b1b1b;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 12px;
  right: 39px;
  border: none;
  cursor: pointer;
  outline: none;
  background: transparent;
  display: none;
  transition: transform var(--duration) var(--time-function), stroke var(--duration)
  /* скрытие кнопки по умолчанию */
}

.exercises-form-btn-clear:hover,
.exercises-form-btn-clear:focus {
  stroke: #5f6560;
  transform: scale(1.15);
}

.exercises-close-icon {
  position: absolute;
  right: 0px;
  top: 0px;
}

.exercises-form-btn {
  /* размер для кнопки сделал таким же как иконка поиска */
  width: 18px;
  height: 18px;
  position: absolute;
  top: 12px;
  right: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  
}

.exercises-form-search-icon {
  position: absolute;
  right: 0px;
  top: 0px;
  stroke: #1b1b1b;
  fill: none;
  transition: transform var(--duration) var(--time-function), stroke var(--duration) 
}

.exercises-form-btn:hover .exercises-form-search-icon,
.exercises-form-btn:focus .exercises-form-search-icon {
  stroke: #5f6560;
  transform: scale(1.15);
}

/* ---------------form end----------------- */

/* gallery */

.exercises-gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* margin-left: -20px; */
}

/*.exercises-gallery-container {
   min-height: 535px; 
}*/

.exercises-gallery-item {
  /* margin-left: 20px;
  margin-bottom: 20px; */
  width: 295px;
  height: 232px;

  border-radius: 12px;
  border: 1px solid rgba(246, 246, 246, 0.3);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.exercises-gallery-link {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
  /* padding: 45px 105px; */
  width: 100%;
  height: 100%;
}

.exercises-gallery-item-title {
  color: #f6f6f6;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  text-transform: capitalize;
}

.exercises-gallery-item-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: rgba(246, 246, 246, 0.4);
}

/* TABLET */

@media (min-width: 768px) {
  .exercises-content {
    padding: 64px 48px;
    min-height: 1091px;
  }

  .exercises-section-title {
    font-size: 44px;
    line-height: 1.09;
  }

  .exercises-empty-message {
    margin-left: auto;
    margin-right: auto;
    width: 536px;
    margin-top: 222px;
    font-size: 18px;
  }

  .exercises-type-nav {
    flex-direction: row;
  }

  .exercises-type-list {
    margin-bottom: 0;
  }

  .exercises-type-item {
    margin-right: 8px;
  }

  .exercises-type-item-btn {
    font-size: 16px;
    padding: 10px 20px;
    line-height: 1.5;
  }

  /* ---------form----------- */

  .exercises-form-input {
    font-size: 16px;
    line-height: 1.5;
    height: 48px;
    width: 246px;
  }

  .exercises-form-btn-clear {
    top: 14px;
    right: 39px;
  }

  .exercises-form-btn {
    top: 14px;
    right: 20px;
  }

  /* ---------form end----------- */

  .exercises-gallery-list {
    gap: 14px;
  }

  .exercises-gallery-item {
    /* margin-left: 14px;
    margin-bottom: 14px; */
    width: 313px;
    height: 250px;
  }

  .exercises-gallery-container {
    min-height: 702px;
  }
}

/* DEKSTOP */

@media (min-width: 1440px) {
  .exercises-form-input {
    width: 273px;
  }

  .exercises-content {
    min-height: 827px;
  }

  .exercises-section-title-filter {
    font-size: 24px;
    letter-spacing: -0.02em;
    line-height: 1.33;
    /* 133.333% */
    color: rgba(27, 27, 27, 0.5);
  }

  .exercises-empty-message {
    width: 684px;
    margin-top: 217px;
    font-size: 18px;
  }

  .exercises-gallery-list {
    row-gap: 40px;
    column-gap: 20px;
    /* min-height: 503px; */
    /* margin-left: -20px; */
  }

  .exercises-gallery-container {
    min-height: 503px;
  }
}