.footer-container {
  background-color: #1c2225;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footer-main-content-wrapper {
  display: flex;
}

.footer-logo {
  display: inline-block;
  color: #f6f6f6;
  font-family: 'DM Sans';
  font-weight: 700;
  letter-spacing: -0.02em;
  transition: text-shadow 300ms ease-in-out;
}

.footer-social-media-list {
  display: flex;
  column-gap: 12px;
}

.footer-social-media-item {
  display: block;
}

.footer-social-media-link {
  border-radius: 10px;
  border: 1px solid rgba(246, 246, 246, 0.2);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 300ms ease-in-out;
}

.footer-social-media-icon {
  fill: rgb(246, 246, 246, 0.8);
  transition: fill 300ms ease-in-out, transform 300ms ease-in-out;
}

.footer-title {
  color: #f6f6f6;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.footer-title i {
  color: rgba(246, 246, 246, 0.3);
}

.footer-form-text {
  color: #f6f6f6;
  font-weight: 400;
}

.footer-form-label {
  display: block;
}

.footer-form-input {
  display: block;
  border-radius: 30px;
  border: 1px solid #f6f6f6;
  background: transparent;
  padding-left: 14px;
  color: #f6f6f6;
  font-weight: 400;
  width: 100%;
  transition: box-shadow 300ms ease-in-out;
}

.footer-form-input::placeholder {
  color: rgba(246, 246, 246, 0.6);
}

.footer-form-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 30px;
  background: #7e847f;
  color: #f6f6f6;
  font-weight: 400;
  width: 100%;
  transition: background 300ms ease-in-out;
}

.footer-rights-documents-wrapper {
  color: #f6f6f6;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.02em;
  opacity: 0.8;
}

.footer-rights-document {
  display: flex;
  gap: 8px;  
}
.footer-rights-document-link{
  transition: transform var(--duration) var(--time-function), color var(--duration) var(--time-function);
}

.footer-rights-document-link:hover,
.footer-rights-document-link:focus {
  color:#fff;
  transform: scale(1.05);
}

.footer-logo:hover {
  text-shadow: 1px 0px 10px rgba(246, 246, 246, 0.6);
}

.footer-social-media-link:hover,
.footer-social-media-link:focus {
  border-color: #f6f6f6;
}

.footer-social-media-link:hover>.footer-social-media-icon {
  fill: #f6f6f6;
  transform: scale(1.15);
}

.footer-form-input:hover,
.footer-form-input:focus {
  box-shadow: 0px 0px 15px 1px rgba(246, 246, 246, 0.6);
  outline: none;
}

.footer-form-submit:hover,
.footer-form-submit:focus {
  background: #5f6560;
}

.is-glowing {
  animation: glow 1.5s infinite alternate ease-in-out;
}

@keyframes glow {
  from {
    box-shadow: 0px 0px 0px 0px rgba(246, 246, 246, 0.6);
  }

  to {
    box-shadow: 0px 0px 15px 0px rgba(246, 246, 246, 0.6);
  }
}

.is-glowing:hover,
.is-glowing:focus {
  animation: none;
}

@media (max-width: 767px) {
  .footer-container {
    background-image: linear-gradient(0deg,
        rgba(27, 27, 27, 0.7) 0%,
        rgba(27, 27, 27, 0.7) 100%),
      url(../img/footer/4-footer-mob.webp);
    border-radius: 30px;
    min-height: 470px;
    padding: 40px 20px 20px 20px;
  }

  .footer-main-content-wrapper {
    flex-direction: column;
  }

  .footer-link-container {
    margin-bottom: 40px;
  }

  .footer-logo {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.12;
  }

  .footer-social-media-item {
    width: 36px;
    height: 36px;
  }

  .footer-social-media-icon {
    width: 20px;
    height: 20px;
  }

  .footer-title {
    font-size: 32px;
    line-height: 1em;
    margin-bottom: 20px;
  }

  .footer-form-text {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.29;
  }

  .footer-form-input {
    height: 42px;
    font-size: 14px;
    line-height: 1.29;
  }

  .footer-form-input::placeholder {
    font-size: 14px;
  }

  .footer-form-label {
    margin-bottom: 12px;
  }

  .footer-form-submit {
    font-size: 14px;
    line-height: 1.29;
    height: 42px;
  }

  .footer-rights-documents-wrapper {
    font-size: 12px;
    line-height: 0.8;
  }

  .footer-rights-documents-text {
    margin-bottom: 10px;
  }

  @media (min-resolution: 192dpi),
  (min-resolution: 2dppx),
  (min-device-pixel-ratio: 2) {
    .footer-container {
      background-image: linear-gradient(0deg,
          rgba(27, 27, 27, 0.7) 0%,
          rgba(27, 27, 27, 0.7) 100%),
        url(../img/footer/4-footer@2x-mob.webp);
    }
  }
}

@media (min-width: 768px) {
  .footer-main-content-wrapper {
    justify-content: space-between;
  }

  .footer-logo {
    font-size: 28px;
    line-height: 1;
    margin-bottom: 30px;
  }

  .footer-social-media-item {
    width: 44px;
    height: 44px;
  }

  .footer-social-media-icon {
    width: 28px;
    height: 28px;
  }

  .footer-subscription-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 352px;
  }

  .footer-form-text {
    font-size: 18px;
    line-height: 1.33;
  }

  .footer-form-input {
    font-size: 16px;
    line-height: 1.5;
    height: 48px;
  }

  .footer-form-input::placeholder {
    font-size: 16px;
    line-height: 1.5;
  }

  .footer-form-submit {
    font-size: 16px;
    line-height: 1.5;
    height: 48px;
  }

  .footer-rights-documents-wrapper {
    font-size: 14px;
    line-height: 1.29;
    display: flex;
    gap: 32px;
    justify-content: center;
  }

  .footer-rights-documents-text {
    display: inline-block;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .footer-container {
    background-image: linear-gradient(0deg,
        rgba(27, 27, 27, 0.7) 0%,
        rgba(27, 27, 27, 0.7) 100%),
      url(../img/footer/4-footer-tab.webp);
    border-radius: 50px;
    padding: 64px 48px 32px 48px;
    min-height: 576px;
  }

  .footer-main-content-wrapper {
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: flex-end;
    row-gap: 32px;
  }

  .footer-link-container {
    order: 2;
  }

  .footer-title {
    max-width: 340px;
    font-size: 54px;
    line-height: 0.93;
    order: 1;
  }

  .footer-subscription-form {
    order: 3;
  }

  @media (min-resolution: 192dpi),
  (min-resolution: 2dppx),
  (min-device-pixel-ratio: 2) {
    .footer-container {
      background-image: linear-gradient(0deg,
          rgba(27, 27, 27, 0.7) 0%,
          rgba(27, 27, 27, 0.7) 100%),
        url(../img/footer/4-footer@2x-tab.webp);
    }
  }
}

@media (min-width: 1440px) {
  .footer-container {
    background-image: linear-gradient(0deg,
        rgba(27, 27, 27, 0.7) 0%,
        rgba(27, 27, 27, 0.7) 100%),
      url(../img/footer/4-footer-desk.webp);
    border-radius: 50px;
    padding: 64px 48px 26px 48px;
    min-height: 454px;
  }

  .footer-title {
    font-size: 64px;
    line-height: 0.97;
    max-width: 488px;
  }

  @media (min-resolution: 192dpi),
  (min-resolution: 2dppx),
  (min-device-pixel-ratio: 2) {
    .footer-container {
      background-image: linear-gradient(0deg,
          rgba(27, 27, 27, 0.7) 0%,
          rgba(27, 27, 27, 0.7) 100%),
        url(../img/footer/4-footer@2x-desk.webp);
    }
  }
}