@import url('./quote-container.css');

* {
    box-sizing: border-box;
}

.fquote-container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1440px) {
    .fquote-container {
        flex-direction: row;
    }
}