html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'DM Sans';
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/dmsans-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/dmsans-medium.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/dmsans-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/dmsans-italic.ttf') format('truetype');
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}

.section {
  padding-top: 10px;
  padding-bottom: 10px;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 768px) {
  .section {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .container {
    max-width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}
