.hero-container {
    font-family: "DM Sans";
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.hero-bg {
    width: 315px;
    height: 347px;
    background-image: url(../img/hero/1-hero-mob.webp);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px 10px;
    display: flex;
    align-items: end;
}

.tag-container {
    width: 142px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.tag-item {
    border-radius: 30px;
    border: 1px solid rgba(246, 246, 246, 0.30);
    color: #F6F6F6;
    font-size: 12px;
    font-style: normal;
    line-height: 14px;
    padding: 4px 10px;
}

.hero-content {
    padding: 60px 20px;
    width: 295px;
    height: 245px;
    border-radius: 30px;
    background: #FFF;
}

.hero-title {
    color: #1B1B1B;
    font-size: 56px;
    font-style: normal;
    line-height: 50px;
    letter-spacing: -1.12px;
    margin-bottom: 20px;
}

.hero-title-item {
    color: #7E847F;
    font-size: 56px;
    font-style: italic;
    line-height: 50px;
    letter-spacing: -1.12px;
}

.hero-text {
    color: #1B1B1B;
    font-size: 14px;
    font-style: normal;
    line-height: 18px;
    letter-spacing: -0.14px;
}

@media (min-width: 768px) {
    .hero-container {
        flex-direction: row;
        gap: 0;
        justify-content: center;
    }

    .hero-bg {
        width: 208px;
        height: 772px;
        background-image: url(../img/hero/1-hero-tab.webp);
        padding: 64px 20px;
    }

    .tag-container {
        width: 196px;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    .tag-item {
        font-size: 16px;
        font-style: normal;
        line-height: 24px;
        padding: 4px 16px;
    }

    .hero-content {
        padding: 192px 32px;
        width: 384px;
        height: 516px;
        border-radius: 0px 50px 50px 50px;
        background: #FFF;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .hero-title {
        font-size: 98px;
        line-height: 95px;
        letter-spacing: -1.96px;
        margin-bottom: 25px;
    }

    .hero-title-item {
        font-size: 98px;
        line-height: 95px;
        letter-spacing: -1.96px;
    }

    .hero-text {
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.18px;
    }
}

@media (min-width: 1440px) {
    .hero-bg {
        width: 608px;
        height: 820px;
        background-image: url(../img/hero/1-hero-desk.webp);
        padding: 32px 48px;
    }

    .hero-content {
        padding: 226px 32px;
        width: 640px;
        height: 432px;
        display: block;
    }

    .hero-title {
        font-size: 120px;
        line-height: 115px;
        letter-spacing: -2.4px;
        margin-bottom: 25px;
    }
    
    .hero-title-item {
        font-size: 120px;
        line-height: 115px;
        letter-spacing: -2.4px;
    }
}

@media screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-device-pixel-ratio: 2) {
    .hero-bg {
        background-image: url(../img/hero/1-hero@2x-mob.webp);
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .hero-bg {
        background-image: url(../img/hero/1-hero@2x-tab.webp);
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1440px),
screen and (min-resolution: 2dppx) and (min-width: 1440px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
    .hero-bg {
        background-image: url(../img/hero/1-hero@2x-desk.webp);
    }
}