.scroll-button {
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #7e847f;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  right: 5%;
  bottom: 10%;
  transition: 200ms;
}

.scroll-button:hover {
  scale: 1.2;
  background-color: #5f6560;
}

.scroll-arrow {
  transform: rotate(-45deg);
  fill: #f6f6f6;
}

@media (min-width: 1440px) {
  .scroll-button {
    width: 100px;
    height: 100px;
  }
}
